.body
  {
    min-height: 100vh;
  }
/* Conteneur du bouton progress bar */
[class*="skill-"]{
  box-sizing: border-box;
  width: 80px;
  position: relative;
  text-align: center;
  margin: 10px;
}

/* Bouton interne à la progress bar*/
/*.btnn-skill{
  position: absolute;
  top: 7%;
  left: 9%;
  width: 82%;
  height: 82%;
  text-align: center;
  border-radius: 100%;
  /*line-height: 40px;*/
  /*font-size: 8px;
  color: #fff;*/
  /*padding:0; margin:0; overflow:hidden;
   background:#598585;
   background:-moz-radial-gradient(center, ellipse cover,  #598585 0%, #00445f 99%);
   background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#598585), color-stop(99%,#00445f));
   background:-webkit-radial-gradient(center, ellipse cover,  #598585 0%,#00445f 99%);
   background:-o-radial-gradient(center, ellipse cover,  #598585 0%,#00445f 99%);
   background:-ms-radial-gradient(center, ellipse cover,  #598585 0%,#00445f 99%);
   background:radial-gradient(ellipse at center,  #598585 0%,#00445f 99%);*/
/*}*/

#indexCompetence{
  background-color: #243f46;
}
.icon{
  position: absolute;
  bottom: 23px;
  right: 18px;
  font-size: 42px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}

/* -- Accueil -- */
.header-home{
  min-height: 30vh;
  padding: 38px 24px;
}

.header-home p, .header-home li{
  font-size: 20px;
}
.presentation-content{
  background-color: #fff;
  color: black;
  min-height: 60.4vh;
  display: flex;
}

.vcenter{
  margin: auto;
}
.info{
  display:inline-block;
  vertical-align:middle;
  padding: 40px 60px;
  text-align: center;
}

.info h2{
  margin: 20px 0px;
}

.info a{
  margin-top: 18px;
}

.btn{
  padding: 10px 18px;
}

/* -- Compétence -- */
#listLanguages{
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

#listFrameworks{
  padding: 30px 20px;
}

.li-skill{
  margin: 4px 0px;
}

/* -- projet -- */
.project{
  border: 8px solid #243f46;
  height: 260px;
  padding: 10px;
  position: relative;
}


@media (min-width: 992px){
  .project{
    height: 370px;
  }
  .header-home{
    padding-top: 50px;
    padding-left: 10px;
  }
}

@media (min-width: 1221px) {
  .project{
    height: 300px;
  }
}

.badge{
  background-color: #243f46;
  color: #fff;
  margin: 2px;
}
.icon-link{
  font-size: 42px;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 20px;
}

/* -- En savoir plus -- */
.text{
  padding: 20px 0px 5px 0px;
  line-height: 1.5em;
}

.text p{
  padding-bottom: 10px;
}

.description-contain{
  height:58vh;
  display: flex;
}

.border-dashed{
  border: 4px dashed #fff;
  padding: 10px;
}

.bold-dark{
  font-weight: 600;
  color: #243f46;
}

.list-space li{
  list-style: none;
  margin: 20px 0px;
}

.icon-contact{
  font-size: 42px;
  margin: 10px;
}
/* -- -- */
.navbar{
  height: 1vh;
}
.main-content{
  padding-top: 50px;
  min-height: 100vh;
  /*#4095A0*/
  background-color: #243f46;
  color: #fff;
}

.bg-white{
  background-color: #fff;
  color: black;
}
.bg-dark{
  background-color: #243f46;
  color: #fff;
}

.title-dark{
  background-color: #243f46;
  color: #fff;
  padding: 5px 18px;
}

.title-underline{
  margin: 20px;
  text-decoration: underline;
}

.second-content{
  padding: 42px;
  min-height: 64.5vh;
}

.third-content{
  margin-top: 20px;
  margin-bottom: 40px;
}

.fa-circle{
  color: #243f46;
}

.project-contain{
  min-height: 90vh;
  display: flex;
}

footer{
  text-align: right;
  position:absolute;
  bottom: 0px;
  padding-top: 10px;
}
